* {
    font-size: 16px;
    font-family: 'Oranienbaum', serif;
}
body {
    background-color: #E5E5E5;
}
h2 {
    font-family: "Oswald", sans-serif;
    
}
/*--------------NAVBAR-------------------*/
header {
    background-color: rgb(47, 79, 79);
}
.no-show {
    display: none;
}
.navbar-nav {
    font-family: 'Patua One', cursive;
   
}
.navbar{
    padding: 0;
}
.nav-container {
    padding: 10px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    padding-left: 20px;
}
.me-auto {
    margin-right: 0 !important;
    padding-right: 20px;
    gap: 20px; 

}
.navbar-brand {
    padding-left: 20px;
}

/*-------------HERO---------------*/
.main {
    margin: 0;
}
.hero {
    background-image: 
    /* linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 20%), */
    url("images/sunset.png");
    background-size: cover;
    color: white; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center; 
    height: 50vh;
    flex-flow: row wrap;
    
   
}
.hero-container {
    padding: 0;
}
.hero h1 {
    font-family: 'Oranienbaum', serif;
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
    width: 60%;
}
/*-------------MAIN---------------------*/
.section-1 .row{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

}
.section-1 p {
    font-size: 1rem;
}
.welcome-content {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 20px;
}
.our-story {
    color: white;
    background-color: #493838;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.our-story a{
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    text-decoration: none;
}
.section-2 {
    margin-top: 40px;
}
.section-2 .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-div img{
    width: -webkit-fill-available;
    height: 100%;
    margin-bottom: 20px;
}
.section-3 {
    margin-bottom: 50px; 
}
.section-3 row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3 .hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-img img {
    width: -webkit-fill-available;

}
.bottom-img{
    padding: 0;
}
.table *{
    border: none !important;
    border-collapse: none;
    font-family: "Oswald", sans-serif;
  
}


.section-3 {
    /* background-color: white; */
    width: 80%; 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-left:auto;
    margin-right: auto;
    gap: 20px;
}
.section-3 h2{
    width: 80%;
    margin: 50px 0;
    font-family: "Oswald", sans-serif;
    font-size: 5vh;
}
.hours-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    background: white;
    gap: 20px;
    height: 35vh;
}
.hours-container h3 {
    width: 100%;
    font-size: 2rem;
}
.hours {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.hours p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* .table {
    width: 100%;
    height: 35vh;
    padding: 10px 0;
    padding: 10px 0;
    background-color: white;
    padding: 20px 0;
    margin-bottom: 50px;
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
}
.table-responsive {
    width: 80%;
   
}


th {
    border: none;
} 
td{
    /* font-size: 1.2rem; */
    font-size: 1.2rem;
} */
.closed {
    color: #c80d0dee;
}
.title {
    width: 60%;
    text-align: center; 
  
    font-size: 1.8rem;
    border-bottom: 1px solid black;
  
}

.music-schedule {

    color: white;
    background-color: #493838;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0;

    

}

/*------------CAROUSEL--------------*/
.section-4 {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-bottom: 50px;
}
.carousel-item img {
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

/*--------------FOOTER-------------*/
footer {
    background-color: white;
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    

}
footer * {
   font-family: "Oswald", sans-serif;
   color: rgb(48, 46, 46);
}
footer .col  h4 {
    margin-bottom: 10px;
    font-size: 2vh;
}

.footer-content {
    padding-left: 0;
}
footer  .col  {
   text-align: center;
}
footer .footer-content p {
    font-size: .68rem;
    margin-bottom: 0;
  
}
.footer-content:first-child{
    padding-left:12px;
    padding-right: 0;
}
.footer-content i {
    font-size: 1.5rem;
    margin-top:5px;
}

.footer-content label{
    font-size: 0.7rem;
}
.footer-content a {
    font-size: 0.7rem;
}
.footer-directions {
    padding-left: 0;
}
/*-------------MENU PAGE-------------------*/

.buffer {
    height: 100px;
}
.menu-cont h3 {
    font-size: rem;
    padding: 20px 0;
    text-align: center;
    font-family: "Oswald", sans-serif;
}

/*-------------MUSIC PAGE-------------*/
.music-title {
    margin: 20px 0 50px 0;
    font-family: "Oswald", sans-serif;
}

/*------------HISTORY PAGE----------------*/
#history p {
    text-indent: 30px;
}
.names {
    margin-left: 30px;
    width: 80%;
    text-align: center;
}
/*---------------SeaBreeze Motel-----------------*/
.section-sb-3 {
    margin-bottom: 50px;
}
.section-sb-3 img {
    padding: 20px 0;
}


/*-------------MEDIA QUERIES--------------*/


@media screen and (min-width: 768px) {
    p {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    .no-show {
        display: block;
    }
    .hero h1{
        font-size: 7rem;
        width: 40%;
    }
    .no-show {
        display: block;
    }
    .section-3 {
        width: 100%;
    }
    .hours-container {
        width: 48%;
        
    }
    /* .table {
        width: 100%;
        height: 30vh;
    }
    .table-responsive {
        width: 45%;
    } */
    .section-4 {
        width: 60%;

    }
    .carousel-item img{
        width: 100%;
        max-height: 450px;
    }
    .carousel-item .car-img {
        width:150%;
    }
    /*----------FOOTER---------------*/
       footer  .footer-content p{
            font-size: 1rem;
        }
        .footer-content a {
            font-size: 1rem;
        }
        .footer-content label{
            font-size: 1rem;
        }
        .footer-content i{
            font-size: 2rem;
        }
        .footer-row {
            justify-content: space-around;
        }
    /*---------SEABREEZE-------------*/
    .sb-content {
        justify-content: center;
    }
  
}

@media screen and (min-width: 1200px) {
    /*------------NAV-------------------*/
    p{
        font-size: 1.5rem;
    }
    h2 {
        font-size: 5rem;;
        margin-top: 100px;
  
    
    }
    nav a {
        font-size: 1rem;
    }
    
    .hero {
        height: 80vh;
      flex-flow: row nowrap;
       
    }

    .hero h1 {
        font-size: 7rem;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
   
    /*-------------MAIN---------------------*/
 
  
    .section-1 p {
        font-size: 1.5rem;;
    }
    .welcome-content {
        font-size: 1.5rem;vw;   
    }
  

  
    .title {
        width: 60%;
        text-align: center; 
    }
    .section-3 {
        width: 60%; 
    
    }
    .section-3 h2{
        width: 60%;
       
    }
    .title {
        font-size: 2.5rem;
    
    }
    .table {
        width: 100%;
        height: 40vh;
    }
    

    td{
        font-size: 1.5rem;
    }
  
    .closed {
        font-size: 1.8rem;
    }
    .section-4 {
        width: 50%;
        margin-bottom: 100px;
    }
    .carousel-item img{
        width: 100%;
        max-height: 450px;
    }
    .carousel-item .car-img {
        width:150%;
    }
    .music-schedule {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

}
